<%- layout('layouts/boilerplate') %>

<div> 
    <h1>Hemp Help</h1>
</div>
<div>
    <h2>Home Page under construction</h2>
</div>

<footer><a class="btn btn-success" href="/posts">View Content</a></footer>
