<%- layout('layouts/boilerplate') %>

    <h1>Board</h1>
    <a href="/posts/new">Add some fresh content!</a>
    <ul>
        <% for(let post of posts) { %> 
        <li><a href="/posts/<%= post._id %>"><%= post.title %></a></li>
        <% } %> 
    </ul>
